.contact-container {
  background-color: none;
  border-radius: 2rem;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  
}

.contact-container h2 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 1rem;
}

.input-container input[type="text"],
.input-container input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 10px 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #000000;
}

button[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 1px 12px;
}

button[type="submit"]:hover {
  background-color: #128c7e;
}

@media only screen and (min-width: 768px) {
  .input-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .input-container input[type="text"],
  .input-container input[type="email"] {
    width: 33%;
    margin: 0 10px;
  }
}
