.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-history {
  background-color: white;
  color: black;
  padding: 1rem;
}

.history-text {
  background-color: transparent;
  color: white;
  padding: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
  font-size: 2rem;
}
