/* Estilos base */
:root {
    --blackA4: #242424;
    --mauve6: #f6f1f7;
    --mauve11: #453257;
    --violet11: #6d44d8;
  }
  
  button,
  fieldset,
  input {
    all: unset;
  }
  
  .TabsRoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10rem;
  }
  
  .TabsList {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid var(--mauve6);
    flex-wrap: wrap;
  }
  
  .TabsTrigger {
    font-family: inherit;
    background-color: transparent;
    padding: 0 20px;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    color: black;
    user-select: none;
  }
  
  /* .TabsTrigger:first-child {
    border-top-left-radius: 6px;
  }
  
  .TabsTrigger:last-child {
    border-top-right-radius: 6px;
  }
  */
  .TabsTrigger:hover {
    color: blue;
    cursor: pointer;
  } */
  
  /* /* .TabsTrigger[data-state='active'] {
    color: blue;
    box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
  } */
  
  /* .TabsTrigger:focus {
    position: relative;
    box-shadow: 0 0 0 2px black;
  } */ */
  
  .TabsContent {
    padding: 20px;
    background-color: transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
    height: 30em; /* altura inicial */
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  

  
  
  .TabsContent:focus {
    box-shadow: 0 0 0 2px black;
  }
  
  .Text {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    line-height: 1.5;
    height: 20rem;
  }
  
  .History {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .History .TabsRoot {
    width: 100%;
    margin-top: 20px;
  }
  
  .History .TabsList {
    justify-content: center;
  }
  
  .History .TabsTrigger {
    font-size: 18px;
    height: 60px;
  }
  
  .History .TabsContent {
    font-size: 18px;
  }
  
 




  @media only screen and (max-width: 428px) {
    /* iPhone 11 and iPhone SE (2nd generation) */
    .TabsRoot {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    
    .TabsTrigger {
      padding: 0 10px;
      height: 40px;
      font-size: 16px;
    }
    
    
    .TabsTrigger:first-child {
      border-top-left-radius: 4px;
    }
    
    .TabsTrigger:last-child {
      border-top-right-radius: 4px;
    }
    
    .Text {
      font-size: 13px;
      height: 30rem;
      margin-bottom: 30rem;
    }
    
    .History .TabsTrigger {
      font-size: 16px;
      height: 50px;
    }
    
    .History .TabsContent {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 390px) {
    /* iPhone SE (1st generation) */
    .TabsTrigger {
      padding: 0 8px;
      height: 38px;
      font-size: 16px;
    }
    
    .History .TabsTrigger {
      font-size: 15px;
      height: 45px;
    }
    
    .History .TabsContent {
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    /* iPhone 12 Mini and iPhone 11 Pro/Pro Max */
    .TabsTrigger {
      padding: 1rem;
      height: 40px;
      font-size: 16px;
    }
    
    
    .TabsTrigger:first-child {
      border-top-left-radius: 4px;
    }
    
    .TabsTrigger:last-child {
      border-top-right-radius: 4px;
    }
    
    .Text {
      font-size: 13px;
    }
    
    .History .TabsTrigger {
      font-size: 15px;
      height: 50px;
    }
    
    .History .TabsContent {
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    /* iPhone 12, iPhone 13, and iPhone XR/XS Max */
    .TabsRoot {
      width: 100%;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 6rem;
    }
    
    
    .TabsTrigger {
      padding: 0 10px;
      height: 45px;
      font-size: 16px;
    }
    
    .TabsTrigger:first-child {
      border-top-left-radius: 4px;
    }
    
    .TabsTrigger:last-child {
      border-top-right-radius: 4px;
    }
    
    .Text {
      font-size: 18px;
      margin-bottom: 80rem;
    }
    
    .History .TabsTrigger {
      font-size: 16px;
      height: 55px;
    }
    
    .History .TabsContent {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 390px) and (max-height: 844px) {
    /* iPhone 12 Pro Max */
    .TabsTrigger {
      padding: 0 8px;
      height: 44px;
      font-size: 16px;
    }
    .Text {
      font-size: 18px;
      height: 20rem;
      margin-bottom: 100rem;
    }
    
    .History .TabsTrigger {
      font-size: 22px;
      height: 50px;
    }
    
    .History .TabsContent {
      font-size: 15px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1366px) {
    .TabsTrigger {
        padding: 0 8px;
        height: 44px;
        font-size: 12px;
      }
     
    
      .Text {
        font-size: 20px;
        height: 20rem;
        margin-bottom: 40rem;
      }
      .History .TabsTrigger {
        font-size: 15px;
        height: 50px;
      }
      
      .History .TabsContent {
        font-size: 15px;
      }
    }


  
  